#container-grid {
	position:absolute;
    left:50%;
    
    width:960px;
    height:960px;

    margin-left:-480px; /* -1/2 width */
    
}

.square {
	width: 58px;
	height: 58px;
	border: 1px solid black;
	display: inline-block;
	float: left;
}

.row {

}