body {
	text-align: center;
}

#container-grid {
	position:absolute;
    left:50%;
    
    width:960px;
    height:960px;

    margin-left:-480px; /* -1/2 width */
    
}

.square {
	border: 1px solid black;
	display: inline-block;
	float: left;
}

button {
	position: relative;
	text-align: center;
	margin-bottom: 10px;
}